*{
margin: 0;
padding: 0;
font-family: Century Gothics;
}

header{
	background-image: url(../qw1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;


}
.title{
	position:absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}   
 .title h1{
	 position: center;
	 color:rgb(0,255,0);
	 font-size: 70px
 }
 
 
 .TRICEPS {
	 max-width: 700px;
	 height:350px;
	 background-color:white;
	 padding: 20px;
     border: 5px solid rgb(0,255,0);
     border-radius: 10px;
	 position:absolute;
	 color:rgb(0,255,0);
	 top: 30%;
	 left: 04%;   
 }
 .image{
	 position:absolute;
	 top: 7%;
	 left:22%;
	 border: 5px solid rgb(0,255,0);
	 border-radius: 10px;
     margin: 140px 490px;
     padding: -05px;
 }
 .main {
      position:center;
	  color:rgb(0,255,0);
	  top: 40%;
	 left: 02%; +
	  
 }